In [1]:
import re

In [2]:
# Find duplicate words in txt

In [3]:
txt = """
hello hello
how are you
bye bye
"""

In [5]:
pattern = re.compile(r"(\w+) \1")
pattern.findall(txt)

['hello', 'bye']

In [ ]:
# replace dd/mm/yyyy with yyyy-mm-dd

In [6]:
txt1 = """
23/04/2018
sassas 1/3/1990
aaa 31/10/2000
"""

In [10]:
pattern1 = re.compile("(\d{1,2})\/(\d{1,2})\/(\d{4})")
pattern1.findall(txt1)

[('23', '04', '2018'), ('1', '3', '1990'), ('31', '10', '2000')]

In [12]:
print(pattern1.sub(r"\3-\2-\1", txt1))

2018-04-23
sassas 1990-3-1
aaa 2000-10-31

# Named Group

In [29]:
txt3 = " Avinash Rabhadia"

In [30]:
pattern5 = re.compile("(?P<first>\w+) (?P<last>\w+)")
pattern5.findall(txt3)

[('Avinash', 'Rabhadia')]

In [31]:
pattern5 = re.compile("(?P<first>\w+) (?P<last>\w+)")
match5 = pattern5.match(txt3)
match5

In [32]:
match5.group(1)

AttributeError: 'NoneType' object has no attribute 'group'

In [33]:
pattern5.sub(r"\2 \1",txt3)

' Rabhadia Avinash'

In [34]:
pattern5.sub(r"\g<last> \g<first>",txt3)

' Rabhadia Avinash'